{% extends 'layout.html' %}

{% block content %}
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            </div>
            <!-- Content Row -->
            <div class="row">
              <div class="col-lg-12 mb-4">
                <!-- Pengantar -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Pengantar
                    </h6>
                  </div>
                  <div class="card-body">
                    <div class="text-center">
                      <img
                        class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                        style="width: 25rem"
                        src="static/img/pnup-removebg-preview.png"
                        alt="..."
                      />
                    </div>
                    <p>
                      Projek sistem absensi berbasis face recognition ini merupakan PBL (Project Base Learning) pada mata kuliah Sistem Embedded & IoT di
                      <a
                        target="_blank"
                        rel="nofollow"
                        href="https://poliupg.ac.id/"
                        >Politeknik Negeri Ujung Pandang</a
                      >, Jurusan Teknik Komputer dan Jaringan.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
{% endblock %}
